html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  padding: 5%;
}

a {
  color: red;
  text-decoration: none;
}

button {
  border: none;
  font-size: 1em;
  width: 111px;
  padding: 10px 13px;
  margin: 0 10px;
  background-color: darkslategray;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2em;
}

ul {
  list-style-type: none;
  margin: 10px 0;
}

nav ul {
  display: flex;
}

ul li {
  padding: 10px 5px;
  width: 500px;
}

ul li:hover {
  cursor: pointer;
  background: hsla(0, 0%, 89%, 0.345);
  padding: 15px 10px;
}

ul li span {
  font-size: 20px;
}

ul li span:hover {
}

.show {
  display: block;
}

.hide {
  display: none;
}

.button-group {
  margin: 1em 0;
}

.home {
  font-size: 24px;
}
